<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.MusicRankInfoMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.MusicRankInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="musicid" jdbcType="VARCHAR" property="musicid" />
    <result column="musicname" jdbcType="VARCHAR" property="musicname" />
    <result column="appname" jdbcType="VARCHAR" property="appname" />
    <result column="hotnum" jdbcType="INTEGER" property="hotnum" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="rankid" jdbcType="INTEGER" property="rankid" />
    <result column="rankname" jdbcType="VARCHAR" property="rankname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from music_rank_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mooc.mooc.model.MusicRankInfo">
    insert into music_rank_info (id, musicid, musicname, 
      appname, hotnum, updatetime, 
      rankid, rankname)
    values (#{id,jdbcType=VARCHAR}, #{musicid,jdbcType=VARCHAR}, #{musicname,jdbcType=VARCHAR}, 
      #{appname,jdbcType=VARCHAR}, #{hotnum,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{rankid,jdbcType=INTEGER}, #{rankname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.mooc.model.MusicRankInfo">
    update music_rank_info
    set musicid = #{musicid,jdbcType=VARCHAR},
      musicname = #{musicname,jdbcType=VARCHAR},
      appname = #{appname,jdbcType=VARCHAR},
      hotnum = #{hotnum,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      rankid = #{rankid,jdbcType=INTEGER},
      rankname = #{rankname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, musicid, musicname, appname, hotnum, updatetime, rankid, rankname
    from music_rank_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByApp" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, musicid, musicname, appname, hotnum, updatetime, rankid, rankname
    from music_rank_info
    where appname = #{appname,jdbcType=VARCHAR}
    order by hotnum desc
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, musicid, musicname, appname, hotnum, updatetime, rankid, rankname
    from music_rank_info
  </select>
  <delete id="deleteByApp" parameterType="java.lang.String">
    delete from music_rank_info
    where appname = #{appname,jdbcType=VARCHAR}
  </delete>
</mapper>